<% @title="Solution Of The Week" %>
<h1 class="text-center p-1">Solution Of The Week</h1>
<% if @comemnt %>
	<% @comment.errors.full_messages.each do |msg| %>
		<div class="alert alert-danger">
			<%= msg %>
		</div>
	<% end %>
<% end %>
<div class="text-left p-4">
	<% @sols.all.each do |sol| %>
		<% if sol.is_featured == 1 %>
			<% @sol = sol %>
			<h3><%= link_to sol.problem.title, sol.problem %> Solution</h3>
			<%= render plain: @markdown.render(sol.solution).html_safe %>
			<% break %>
		<% end %>
	<% end%>
</div>
<% if @sol %>
	<div class="card">
		<div class="card-header">
			<h4>Comments</h4>
		</div>
		<div class="card-body">
			<ul class="list-group">
				<% @sol.comments.each do |comment| %>
					<% puts comment.inspect %>
					<li class="list-group-item" style="margin-bottom:6px;">
						<div class="media">
							<div class="media-body">
								<div class="media" style="overflow:visible;">
									<div><%= image_tag comment.user.gravatar_url(:rating => "PG", :default => "mm", :size => "25px"), :class => "mr-3 img-responsive img-fluid" %></div>
									<div class="media-body" style="overflow:visible;">
										<div class="row">
											<div class="col-md-12">
												<p>
													<%= link_to comment.user.name, comment.user %> <%= comment.body %> <br>
													<small class="text-muted"><%= comment.created_at %></small>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
			<% if current_user %>
				<%= form_with url: comments_path, :local => true do |f| %>
					<div class="form-group">
						<%= f.text_area(:body, :class => "form-control", :rows => "4", :placeholder => "New Comment") %>
					</div>
					<div class="form-group">
						<%= f.submit("Add Comment", :class => "btn btn-light float-right", :method => :post) %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
