<% if (not current_user) || (current_user.id != @user.id) %>
	<% controller.redirect_to '/' %>
<% else %>

	<div class="text-center">
		<h1>Change Password</h1>
		<% if @user %>
	        <% @user.errors.full_messages.each do |msg| %>
	            <div class="alert alert-danger">
	            	<%= msg %>
	            </div>
	        <% end %>
	    <% end %>
	    <% if flash[:notice] %>
	        <div class="alert alert-danger">
	        	<%= flash[:notice] %>
	        </div>
    	<% end %>
		<%= form_for :user, url: user_path(current_user)+'/change_pw', method: :post do |f| %>
			<%= f.label(:password, "Password") %><br />
			<%= f.password_field(:password) %>
			<br />
		    <%= f.label(:password_confirmation, "Repeat Password") %><br />
		    <%= f.password_field(:password_confirmation) %>
		    <br /><br />
			<%= f.submit "Change Password", class: "btn btn-primary" %>
		<% end %>
	</div>

<% end %>