<% @title="Signup" %>
<h1 class="text-center">New User</h1>
<div class="container text-center">
	<%= form_for :user, url: user_new_path do |f| %>

		<% if @user %>
	        <% @user.errors.full_messages.each do |msg| %>
	            <div class="alert alert-danger">
	            	<%= msg %>
	            </div>
	        <% end %>
	    <% end %>

		<%= f.label(:name, "Username") %><br />
		<%= f.text_field(:name, size: "40x2", value: params[:name]) %>
		<br /><br />
		<%= f.label(:email, "Email") %><br />
		<%= f.email_field(:email, size: "40x2", value: params[:email]) %>
		<br /><br />
		<%= f.label(:password, "Password") %><br />
		<%= f.password_field(:password) %>
		<br /><br />
	    <%= f.label(:password_confirmation, "Repeat Password") %><br />
	    <%= f.password_field(:password_confirmation) %>
		<br /><br />
		<p>By making an account you agree to our <br /><a href="/tsc">Terms and Conditions</a></p>
		<%= f.submit "Sign Me Up!", class: "btn btn-primary" %>

	<% end %>
	<br />
	<% if (params[:name].nil? || params[:name].empty?) %>
		<a class="btn btn-dark" href="https://github.com/login/oauth/authorize?scope=user&client_id=<%= @GH_CLIENT_ID %>"><img height="25" width="25" src="https://image.flaticon.com/icons/svg/25/25231.svg" />     Sign Up With GitHub</a>
	<% end %>
</div>
