<% if (not current_user) %>
	<% controller.redirect_to '/' %>
<% else %>
	
	<% @title=@user.name %>
	<div class="text-center">
		<h1>Settings</h1>
		<% @user.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger">
            	<%= msg %>
            </div>
        <% end %>
		<%= form_for :user, url: user_path(current_user), method: :patch do |f| %>
			<%= f.label(:name, "Username") %><br />
			<%= f.text_field(:name, size: "40x2") %>
			<br />
			<%= f.label(:email, "Email") %><br />
			<%= f.text_field(:email, size: "40x2") %>
			<br />
			<%= f.label(:bio, "Bio") %><br />
			<%= f.text_area(:bio, size: "100x20") %>
			<br /><br />
			<%= f.submit "Save", class: "btn btn-primary" %>
		<% end %>
		<br />
		<%= link_to "Change Password", user_path(current_user)+"/change_pw",
					method: :get, 
					:class => "btn btn-primary" %>
		<%= link_to "Delete Account", user_path(current_user),
					method: :delete,
					data: {confirm: "Are you sure?"}, 
					:class => "btn btn-danger" %>
	</div>
<% end %>