<% @title=@user.name %>
<div class="container profile profile-view" id="profile">
    <form>
        <div class="form-row">
            <div class="col-md-4 relative">
                <div class="avatar">
                    <div class="avatar-bg center">
                            <%= image_tag @user.gravatar_url(:rating => "PG", :default => "mm", :size => "500%"), :class => "img-responsive img-fluid" %>
                    </div>
                </div><small>Change Profile Picture with gravatar<div><br /></div></small></div>
            <div class="col-md-8 p-3">
                <h1>Profile</h1>
                <div></div>
                <p><%= @user.name %></p>
                <p><%= @user.email %></p>
                <p>Total Score: <%= @user.score %></p>
                <p>Rank: #<%= @rank %></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Bio:<br><%= render plain: @markdown.render(@user.bio).html_safe %></p>
            </div>
        </div>
        <%= render plain: @markdown.render(@user.bio).html_safe %>
        <br /><br />
        <% if admin_status %>
			<%= render "manage_user_buttons" %>
        <% end %>
        <br /><br />
    </form>
</div>

