<% @title=@user.name %>
<div class="text-center">
	<% @user.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
        	<%= msg %>
        </div>
    <% end %>
</div>
<div class="row">
	<div class="text-left col-sm-8">
		<h1><%= @user.name %></h1>
		<% if @user.is_admin == 1 %><strong>Admin</strong><% end %>
		<br /><br /><br />
		<h3>Total Score: <%= @user.score %></h3>
		<br /><br />
		<h3>Rank <%= @rank %>/<%= User.count %></h3>
		<br /><br />
		<% if @user.bio %>
			<h3>Bio:</h3>
			<%= render plain: @markdown.render(@user.bio).html_safe %>
		<% end %>
		<%= link_to "Edit Profile", '/user/settings' %>
		<br /><br />
		<% if admin_status %>
			<%= render "manage_user_buttons" %>
		<% end %>
		<br /><br />
	</div>
	<div class="col-sm-4" style="background-color: red">
		Picture
	</div>
</div>