<% if (not admin_status) and (current_user.id != @submission.user_id) %>
	<%= controller.redirect_to '/' %>
<% else %>

<% @title=@problem.title %>
<h3 class="text-center">Submission ID: <%= @submission.id %></h3>
<h3 class="text-center">Problem: <%= link_to @problem.title, @problem %></h3>
<h3 class="text-center">User: <%= User.find(@submission.user_id).name %></h3>
<h3 class="text-center">Verdict: <div class="verdict_div" style="display: inline;"> <%= @submission.verdict %> </div></h3>
<h3 class="text-center">Score: <div class="score_div" style="display: inline;"><%= @submission.score %></div> </h3>
<br /><br />
<%= render plain: @markdown.render("```#{@submission.extension}\n#{@submission.code}\n```").html_safe %>
<p style="display: inline;">Passed: <div class="test_cases_passed_div" style="display: inline;"> <%= @submission.test_cases_passed %></div> / <%= @problem.number_of_test_cases %> Test Cases
<br /><br />Test Case Results:<br />
<%= link_to "Update Results", submission_path(@submission) + "/update_results", remote: true, method: :patch, :id => "click_me", :class => "d-none" %>
<div class="result_div">
	<%= @submission.results %>
</div>
</p>
<div class="d-none done" id="done"></div>
<% if admin_status %>
	<%= render "manage_submission_buttons" %>
<% end %>
<script type="text/javascript">
var id = setInterval("get_ajax_stuff();", 500);
function get_ajax_stuff() {
	document.getElementById("click_me").click()
	if (document.getElementById("done").innerHTML == "1") {
		clearInterval(id);
	}
}
</script>
<% end %>