			<% @submissions.each do |submission| %>
				<tr class="text-center">
					<th scope="row" class="text-left">
						<%= link_to submission.id, submission %>
					</th>
					<td scope="row">
						<%= submission.language %>
					</td>
					<td scope="row">
						<% @problem = Problem.find(submission.problem_id) %>
						<%= link_to @problem.title, @problem %>
					</td>
					<td scope="row">
						<%= submission.verdict %>
					</td>
					<td scope="row">
						<% if !submission.user.nil? %>
							<%= link_to submission.user.name, submission.user %>
						<% end %>
					</td>
				</tr>
			<% end %>