<% if not admin_status %>
	<%= controller.redirect_to '/' %>
<% else %>
	
	<% @title="Create Problem" %>
	<h1 class="text-center">Create Problem</h1>
	<div class="container">
		<% if @problem %>
	        <% @problem.errors.full_messages.each do |msg| %>
	            <div class="alert alert-danger">
	            	<%= msg %>
	            </div>
	        <% end %>
	    <% end %>
		<%= form_for :problem, url: problems_path do |f| %>
			<div clas="form-group">	
				<%= f.text_field(:title, size: "98x2", :placeholder => "Title", :class => "form-control") %>
			</div>
			<div class="form-group">
				<%= f.text_area(:body, size: "100x15", :placeholder => "Problem Statement", :class => "form-control") %>
			</div>
			<div class="form-group">
				<%= f.label(:test_cases, "Test Cases, seperate input and output with a line containing 3 stars, '***'. Seperate test cases with a line containing 3 dashes, '---'") %><br />
				<%= f.text_area(:test_cases, size: "100x15", :class => "form-control", :placeholder => "Test Cases") %>
			</div>
			<div class="form-group">
				<%= f.label(:cpu_time, "Max CPU Time") %><br />
				<%= f.text_field(:cpu_time, size: "49x2", :value => "2", :class => "form-control", :placeholder => "Max CPU Time") %>
			</div>
			<div class="form-group">
				<%= f.label(:memory, "Max CPU Memory") %><br />
				<%= f.text_field(:memory, size: "49x2", :value => '512m', :class => "form-control", :placeholder => "Max CPU Memory") %>
			</div>
			<div class="form-group">
				<%= f.label(:score, "Score") %><br />
				<%= f.text_field(:score, size: "49x2", :placeholder => "Score", :class => "form-control") %>
			</div>
			<div class="form-check">
				<%= f.check_box(:is_current, :class => "form-check-input") %>
				<%= f.label(:is_current, "Make this the problem of the week") %>
			</div>
			<div class="form-check">
				<%= f.check_box(:is_hidden, :class => "form-check-input") %>
				<%= f.label(:is_hidden, "Make this hidden") %>
			</div>
			<%= f.submit "Submit" %>
		<% end %>
	</div>

<% end %>