<% if not admin_status %>
	<%= controller.redirect_to '/' %>
<% else %>
	
	<% @title="Dashboard" %>
	
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Number Of Users</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span><%= User.count %></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Number of Problems</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span><%= Problem.count %></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Average User Score</span></div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span><%= User.average(:score) %></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Highest User Score</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span><%= User.maximum(:score) %> <%= User.find_by(:score => User.maximum(:score)).name %></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/dashboard/create_problem">Create Problem</a></p>
                                            <p class="text-white-50 small m-0"></p>
                                        </div>
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/dashboard/manage_problems">Manage Problems</a></p>
                                            <p class="text-white-50 small m-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <p class="m-0"><%= link_to "Update Users", "/update_users", method: :post, :class => "text-white" %></p>
                                            <p class="text-white-50 small m-0"></p>
                                        </div>
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/dashboard/manage_users">Manage Users</a></p>
                                            <p class="text-white-50 small m-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-white bg-info shadow">
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/problem_solutions/new">Create Solution</a></p>
                                        </div>
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/dashboard/manage_solutions">Manage Solutions</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-white bg-warning shadow">
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/dashboard/manage_comments">Manage Comments</a></p>
                                        </div>
                                        <div class="card-body">
                                            <p class="m-0"><a class="text-light" href="/dashboard/manage_submissions">Manage Submissions</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% end %>