<% if not admin_status %>
	<%= controller.redirect_to '/' %>
<% else %>
	
	<% @title="Dashboard" %>
	<h1 class="text-center">Dashboard</h1>
	<div class="container jumbotron p-5 text-center">
		<a class="btn btn-primary" href="/dashboard/create_problem" role="button">Create Problem</a>
		<a class="btn btn-primary" href="/dashboard/manage_problems" role="button">Manage Problems</a>
		<a class="btn btn-primary" href="/dashboard/manage_users" role="button">Manage Users</a>
		<a class="btn btn-primary" href="/dashboard/manage_submissions" role="button">Manage Submissions</a>
		<br /><br />
		<%= link_to "Update Users", "/update_users", method: :post, :class => "btn btn-primary" %>
		<a class="btn btn-primary" href="/dashboard/manage_solutions" role="button">Manage Solutions</a>
		<a class="btn btn-primary" href="/problem_solutions/new" role="button">Create Solution</a>
	</div>
	<div class="row text-center p-3">
		<div class="col-sm-4 card-body card" style="background-color: #F0FFFF;">
			Number of Users: <%= User.count %>
		</div>
		<div class="col-sm-4 card-body card" style="background-color: #F0FFFF;">
			Average Score: <%= User.average(:score) %>
		</div>
		<div class="col-sm-4 card-body card" style="background-color: #F0FFFF;">
			Number of Problems: <%= Problem.count %>
		</div>
	</div>
	<div class="row text-center p-3">
		<div class="col-sm-6 card-body card" style="background-color: #F0FFFF;">	 
			Total Problem Score: <%= Problem.sum(:score) %>
		</div>
		<div class="col-sm-6 card-body card" style="background-color: #F0FFFF;">	 
			Highest Score User: <%= User.maximum(:score) %> <%= User.find_by(:score => User.maximum(:score)).name %>
		</div>
	</div>

<% end %>