<!DOCTYPE html>
<html>
  <head>
    <title>CS Problem Pages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="col-sm-1">
        <a class="navbar-brand" href="/"><img src="/assets/MUCSS-Logo.png" alt="Logo" style='height: 25%; width: 25%; object-fit: contain' />MUCSS Problems</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100 col-sm-11">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Problem of The Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/past_problems">Past Problems</a>
          </li>
          <% if session[:admin] %>
            <%= render html: '<li class="navbar-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>'.html_safe %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-5">
      <%= yield %>
    </div>
  </body>
</html>