<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div class="action d-none"><%= action_name %></div>
    <div class="controller d-none"><%= controller_name %></div>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8ab6a89282.js"></script>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= render 'cookies_eu/consent_banner', link: '/tcs', target: '_blank' %>
  </head>

  <body>
    <div style="background-color: #F0F0F0;">
      <nav class="nav navbar-nav navbar-expand-lg navbar-dark bg-dark border-bottom border-success">
        <div class="col-sm-1 container-fluid">
          <a class="navbar-brand" href="/"><img src="/assets/MUCSS-Logo.png" alt="Logo" style='height: 60%; width: 60%; object-fit: contain' /></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" onclick="$('.dropdown-toggle').dropdown()" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Weekly
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/current_problem">Problem of The Week</a>
                  <a class="dropdown-item" href="/current_solution">Solution Of The Week</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/past_problems">Past Problems</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if current_user %>
              <li><%= link_to "Profile", current_user, class: "nav-link" %></li>
              <li><%= link_to "Edit Profile", user_path(current_user) + '/settings', class: "nav-link" %></li>
              <li class="navbar-item"><%= link_to "Logout", "/logout", method: :post, class: "nav-link" %></li>
            <% else %>
              <li class="navbar-item"><a class="nav-link" href="/login">Login</a></li>
              <li class="navbar-item"><a class="nav-link" href="/user/new">Sign Up</a></li>
            <% end %>
            <% if admin_status %>
              <li class="navbar-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <div class="container p-5" style="background-color: #ffffff; min-height: 83vh; margin-top: 5%; border-radius: 25px">
        <% if flash[:notice] %>
          <div class="alert alert-danger text-center">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:succ] %>
          <div class="alert alert-success text-center">
            <%= flash[:succ] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>